html {
    
    background-color: rgb(62, 161, 66);
}
.main-photo {
    padding: 3em;
    max-width: 300px;
    max-height: auto;
    border-radius: 50%;
}
.h1 a{
    padding: 0;
}

.nav u1 {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding:revert;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.main-table {
    background-color: rgb(76, 175, 80)
}